In [3]:
from config import BASE_DIR
import pandas as pd
import numpy as np

In [4]:
models_path = f"{BASE_DIR}/models/bert_classifier/alephbert-base_sectarian_from_books_to_read_tf_data_sampled"

In [7]:
test_data = np.load(f"{models_path}/test_data.npy", allow_pickle=True)
test_label = np.load(f"{models_path}/test_label.npy", allow_pickle=True)

In [9]:
test_data

array(['ית ט      ם ואש', 'עוד', 'עוז שבת', ...,
       'פרוש המשפטים למשכיל לבני אור להנזר מדרכי רשעה', '',
       'נבנתה הגדר רחק החוק . ובכל השנים האלה יהיה בליעל משולח'],
      dtype=object)

In [10]:
test_label

array([1, 1, 1, ..., 1, 1, 1])

In [11]:
predictions = pd.read_csv(f"{models_path}/test_predictions.csv")

In [12]:
predictions

      True Label  Prediction
0              1           1
1              1           1
2              1           1
3              1           1
4              1           1
...          ...         ...
3187           1           1
3188           1           1
3189           1           1
3190           1           1
3191           1           1

[3192 rows x 2 columns]

In [15]:
test_label.sum()/test_label.shape

array([0.85996241])

In [23]:
train_test_data = pd.read_csv("/Users/yonatanlou/dev/QumranNLP/data/hebrew_processed_files/2024-04-09_sectarian_classification/DSS_sectarian_tf_labels.txt", sep="\t", header=None,names=["place", "train_test","label"])

In [25]:
train_test_data.groupby(["train_test","label"]).count()

                  place
train_test label
test       0        447
           1       2745
train      0       1043
           1       6405